name: Release sm-generator (TestPyPI)

on:
  workflow_dispatch:

jobs:
  publish:
    name: Upload sm-generator to TestPyPI
    runs-on: ubuntu-latest
    environment: testpypi
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel build
      - name: Create source and wheel dist
        working-directory: sm-generator
        run: |
          python -m build
      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: sm-generator/dist